.main-container {
  width: 90%;
  max-width: 1000px;
  padding: 22px 0 0 8px;
  overflow: hidden;
  margin: auto;
}

body {
  background-color: #e4efef;
}

.login-frame {
  margin-top: 60px;
}

.statistics {
  display: none;
}

.add {
  float: right;
}

@media (max-width: 790px) {
  .statistics {
    display: inline;
  }

  .add {
    float: left;
  }
}


.ui.grid.compact>.stackable.stackable.row>.column, .ui.stackable.grid.compact>.column.grid.compact>.column, .ui.stackable.grid.compact>.column.row>.column,
.ui.stackable.grid.compact>.column:not(.row), .ui.stackable.grid.compact>.row>.column, .ui.stackable.grid.compact>.row>.wide.column,
.ui.stackable.grid.compact>.wide.column {
  padding: 0.1em !important;
}

.ui.grid.compact {
  margin: 0 0 3px 0;
}

.ui.header.custom {
  margin: 4px;
}

i.icon.back {
  float: right;
}

.login-card {
  width:45%;
  min-width:400px;
}

.ui.form textarea {
  height: 28px;
  padding: 4px;
}

.ui.input input {
  height: 30px;
}

.ui.dropdown {
  height: 30px;
  vertical-align: middle;
}

.ui.table.activity-list td {
  height: 38px !important;
}
