.main-container {
  max-width: 98%;
  padding: 22px 0 0 8px;
  overflow: hidden;
}


body {
  background-color: #e4efef;
}

.login-frame {
  margin-top: 60px;

}

.login-card {
  width:45%;
  min-width:400px;
}
