.main-container {
  width: 90%;
  max-width: 1000px;
  padding: 22px 0 0 8px;
  overflow: hidden;
  margin: auto;
}

body {
  background-color: #e4efef;
}

.login-frame {
  margin-top: 60px;

}

.add {
  float: right;
  margin: 2px;
}

.ui.header.custom {
  margin: 4px;
}

i.icon.back {
  float: right;
}

.statistics {
  float: right;
}

@media (max-width: 450px) {
  .add {
    float: left;
    margin: 2px;

  }
  .statistics {
    float: left;
  }
}

.login-card {
  width:45%;
  min-width:400px;
}

.ui.form textarea {
  height: 28px;
  padding: 4px;
}

.ui.input input {
  height: 30px;
}

.ui.dropdown {
  height: 30px;
  vertical-align: middle;
}

.ui.table.activity-list td {
  height: 38px !important;
}
